body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100vh;
  color: #575556;
  background: linear-gradient(
    -140deg,
    #ff65c5,
    #fa909d,
    #fcce6c
  );
  font-family: sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
